.logo {
    margin: 30px 0;
}

.presentante {
    font-size: larger;
}

.titulo {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    color: white;
    background-color: #198bff;
    padding: 15px;
    border-radius: 10pt 10pt 0pt 0pt;
}

.etiqueta {
    font-weight: 700;
}

.NroDocumento {
    margin: 0
}

.enviar {
    margin-bottom: 30px;
}